body {
  background-color: black;

  text-align: center;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: azure;
  font-size: 60px;
}

content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gifOne {
  border-radius: 10px;
  border: 3px solid cyan;
}

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: azure;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  width: 160px;
  height: 60px;
  color: darkcyan;
}
